# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Authentik OIDC
AUTHENTIK_URL=http://authentik-server:9000
AUTHENTIK_SLUG=youth-account-mgmt
AUTHENTIK_CLIENT_ID=youth-account-mgmt-client
AUTHENTIK_CLIENT_SECRET=<authentik-client-secret>

# Allowed CORS Origins
ALLOWED_ORIGINS=["http://localhost","http://localhost:80","http://localhost:5173"]

# Database
IDENTITY_DB_URL=postgresql+asyncpg://postgres:<postgres-password>@db:5432/identity_db

# Seed Admin
SEED_ADMIN_AUTH_ID=18f71d90-5003-4df1-a0b1-ff445e454f30
SEED_ADMIN_FIRST_NAME=System
SEED_ADMIN_LAST_NAME=Administrator
SEED_ADMIN_EMAIL=<seed-admin-email>

# Authentik Admin API
AUTHENTIK_API_TOKEN=<authentik-api-token>
AUTHENTIK_DEFAULT_PASSWORD=<temporary-import-password>

