# Shared infrastructure
POSTGRES_DB=identity_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<postgres-password>

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=<rabbitmq-password>

# Authentik
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER=authentik
AUTHENTIK_DB_PASSWORD=<authentik-db-password>
AUTHENTIK_SECRET_KEY=<authentik-secret-key>

